@model AeroSceneryHub.ViewModels.Airports.AirportDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="airport-details">
    <h1>@Model.Code - @Model.Name</h1>

    <div class="map" id="map"></div>


    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-6">
                        Code
                    </div>
                    <div class="col-sm-6">
                        @Model.Code
                    </div>
                </div>


            </div>
            <div class="col-sm-6">

            </div>
        </div>

    </div>

</div>


@section Scripts {
<script>

    function mapsApiLoaded() {
        aerosceneryHub.airportDetails.showMap();
    }
</script>
}