body {
    padding-top: 5rem;
}

.starter-template {
    padding: 2rem 1.5rem;
}

.airport-details
{

}

    .airport-details .map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }