body {
    padding-top: 5rem;
}

body.full-page-map,
html.full-page-map {
    height: 100%;
    width: 100%;
}

body.full-page-map {
    .container-fluid {
        height: 100%;
    }

    padding-top: 3.5rem;
}

.starter-template {
    padding: 2rem 1.5rem;
}
